<div>
  <h1>Lorem Ipsum &#9786;</h1>
  <p class="p1">
    Lorem ipsum congue fusce eros nulla massa
    auctor lorem nulla: duis sagittis, vulputate
    curabitur proin amet pharetra ut mattis.
    Nam pellentesque nulla urna orci ornare
    ligula magna diam nam elementum integer
    nulla mauris, elementum orci gravida rutrum
    magna non integer proin ultricies eget.
    Auctor porttitor, donec nec sodales ultricies:
    non nec morbi sodales nam arcu ligula ut bibendum
    eros vivamus, ligula non, mattis integer porta tellus.
    Diam vitae, mattis, orci massa, porta justo non
    malesuada eu porta fusce lorem bibendum magna duis.
  </p>
</div>
<div>
  <h2>
    HTML &#9728;
  </h2>
  <p>
    Gravida donec nec mauris ornare vitae mauris nibh
    quisque maecenas ligula lectus, sagittis pharetra
    magna non orci eros. Elementum massa elementum mauris
    lectus sit odio magna — congue bibendum urna maecenas
    molestie maecenas congue sed amet nec massa amet
    porttitor rutrum ut in. Commodo nam sed orci molestie
    cursus diam lorem auctor donec urna sodales auctor
    ornare quam donec, non odio, quisque: arcu in: commodo
    malesuada. Commodo lectus sed auctor duis sit: metus
    rutrum nibh donec maecenas diam proin. Auctor, odio
    lorem morbi eget duis sapien nulla congue vitae leo
    bibendum eget vulputate, sodales, commodo. Eget
    risus sodales quam massa justo adipiscing quisque
    commodo, amet et leo bibendum nulla, sodales proin
    fusce sit mauris eget. Leo — rutrum metus mauris
    nec malesuada pharetra proin fusce sed commodo
    sem sodales ut.
  </p>
</div>
<div>
  <h3>
    Body &#9730;
  </h3>
  <p class="p1">
    Vivamus malesuada eros, arcu metus tellus duis
    cursus eget proin gravida integer pellentesque
    et bibendum: elementum sodales commodo,
    duis adipiscing. Ut maecenas commodo sem
    pellentesque amet congue at lectus ultricies
    diam congue enim porttitor ipsum mattis,
    pellentesque rutrum. Gravida commodo pharetra
    integer enim, ultricies nec enim ipsum eros
    sapien, donec porttitor, vulputate in, ut,
    non nibh ligula nec urna porttitor adipiscing sagittis.
  </p>
</div>
<div>
  <h4>
    Element &#10048;
  </h4>
  <p>
    Sed et amet massa sem proin ultricies rutrum eget
    elementum diam in massa molestie non eros porta
    adipiscing sagittis eros. Leo donec amet eu pharetra
    nibh cursus porttitor integer mauris tellus amet,
    magna ornare tempus. Ipsum duis et non morbi pharetra
    elementum diam, morbi sit molestie magna morbi nam,
    amet porttitor metus enim ultricies fusce nam.
    Nibh curabitur leo urna malesuada vivamus non
    pharetra porttitor tempus metus nulla mattis
    curabitur maecenas — urna, enim, morbi metus
    pellentesque porta. Auctor orci tempus, amet,
    enim auctor, arcu commodo vitae justo amet fusce
    quisque, urna in pharetra mauris duis.
  </p>
</div>
<div>
  <h5>
    Event &#9993;
  </h5>
  <p class="p1">
    Diam sed mattis, molestie arcu sit ipsum malesuada
    diam et enim justo adipiscing sagittis quam,
    elementum — risus tempus. Gravida fusce,
    porttitor risus, vulputate porta adipiscing
    lectus enim morbi odio eros amet, ultricies
    sodales. Nec enim et nibh sed vitae lectus
    pellentesque pharetra enim morbi a amet sed
    auctor maecenas ultricies vivamus a maecenas
    massa nulla sit. Eget ultricies sit lectus at,
    pharetra nam curabitur vivamus tellus nibh
    proin urna duis gravida urna fusce quam. Ut
    pharetra non arcu adipiscing, congue tempus
    ut sem donec vulputate mauris vulputate in:
    adipiscing nec nibh, commodo non, quisque orci
    odio, orci. Auctor eget gravida metus risus
    vivamus lorem elementum eros porttitor sapien
    proin urna commodo. Nam, metus elementum justo
    cursus arcu, eget: sit metus ornare — massa eros
    justo ipsum integer justo rutrum pellentesque
    fusce ligula malesuada. Pharetra ultricies,
    tellus sagittis: commodo sed sodales elementum
    congue: metus gravida at.
  </p>
  <div class="container">
    <div class="wrap">
      <img src="https://html5book.ru/wp-content/uploads/2015/10/flowers-by-barbara-florchik-2.jpg" alt="">
    </div>
  </div>
</div>
<div>
  <h6>
    Button &#10066;
  </h6>
  <button class="class">Кнопка1</button>
  <button class="class">Кнопка2</button>
  <button class="class">Кнопка3</button>
  <button class="class">Кнопка4</button>
  <button class="class">Кнопка5</button>
  <button class="class">Кнопка6</button>
  <button class="class">Кнопка7</button>
  <button class="class">Кнопка8</button>
</div>
<h1 class="title">
  List
</h1>
<div id="div">
  <ol>
    <li><span>Real time analitics dashme analitics daboard</span></li>
    <li><span>Real  dashboard</span></li>
    <li><span>Real time analitics dashboard</span></li>
    <li><span>Real time ard</span></li>
    <li><span>Real time analitics dame analitics dame analitics dashboard</span></li>
    <li><span>Real titics dashboard</span></li>
    <li><span>Real time analitics dashboard</span></li>
    <li><span>Real time anahboard</span></li>
    <li><span>Real time analitics dme analitics dame analitics daashboard</span></li>
    <li><span>Real time analitics dashboard</span></li>
    <li><span>Real time anahboard</span></li>
  </ol>
</div>


